#game {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

#game_background {
    position: absolute;
    background-image: url('assets/gamescreen.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: 100%;
}

#game_ui {
    position: relative;
    height: 100vw;
    width: 100vw;
    background-size: 100%;

}

#vampire {
    position: absolute;
    background-image: url(assets/vampire.svg);
    background-repeat: no-repeat;
    height: 38vw;
    width: 20vw;
    top: 12vw;
    left: 10vw;
    background-size: 100%;
}

#witch {
    position: absolute;
    background-image: url(assets/witch.svg);
    background-repeat: no-repeat;
    height: 38vw;
    width: 20vw;
    top: 12vw;
    left: 40vw;
    background-size: 100%;
}
#bloodmeter {
    position: absolute;
    background-image: url(assets/bloodmeternew.svg);
    background-repeat: no-repeat;
    height: 32vw;
    width: 20vw;
    top: 5vw;
    left: 80vw;
    background-size: 100%;
}
#bloodpoints {
    position: absolute;
    background-image: url(assets/bloodpointsnew.svg);
    background-repeat: no-repeat;
    height: 20vw;
    width: 30vw;
    top: 36vw;
    left: 66vw;
    background-size: 100%;


}



#cat {
   position: absolute;
    background-image: url(assets/cat.svg);
    background-repeat: no-repeat;
    height: 20vw;
    width: 30vw;
    top: 20vw;
    left: 20vw;
    background-size: 100%;
}

#bat_1 {
    position: absolute;
    background-image: url(assets/bat_1.svg);
    background-repeat: no-repeat;
    height: 20vw;
    width: 30vw;
    top: 0vw;
    left: 10vw;
    background-size: 100%;
}

#bat_2 {
   position: absolute;
    background-image: url(assets/bat_2.svg);
    background-repeat: no-repeat;
    height: 20vw;
    width: 30vw;
    top: -3vw;
    left: 58vw;
    background-size: 100%;

}
#bat_3 {
    position: absolute;
    background-image: url(assets/bat_3.svg);
    background-repeat: no-repeat;
    height: 20vw;
    width: 30vw;
    top: -5vw;
    left: 46vw;
    background-size: 100%;
}


#start {
    display: none;
    background-image: url('assets/Titlescreen.png');
    background-repeat: no-repeat;
    height: 100vw;
    width: 100vw;
}



#settings {
    display: none;
    background-image: url('assets/settingssk%C3%A6rm.png');
    background-repeat: no-repeat;
    height: 100vw;
    width: 100vw;
}

#gameover {
    display: none;
    background-image: url(assets/game%20over.png);
    background-repeat: no-repeat;
    height: 100vw;
    width: 100vw;
}

#levelcomplete {
    display: none;
    background-image: url('assets/Victory.png');
    background-repeat: no-repeat;
    height: 100vw;
    width: 100vw;
}


